<%= image_tag @movie.picture.url %>

<h1><%= @movie.title %> </h1>

<h3>Directed by:<%= @movie.director %> </h3>

<p>Cast: <%= @movie.actors %></p>

<p> Runtime: <%= @movie.runtime %> minutes</p>

<p> Release date: <%= @movie.release %> </p>

<p> Summary: <%= @movie.summary %> </p>

<% if user_signed_in? %>
  <%= link_to "Edit", edit_movie_path(@movie) %>
<% end %>
