<%= link_to "Back to #{@category.name}", category_path(@category), class: 'btn btn-primary' %>
<%= image_tag @movie.picture.url %>

<h1><%= @movie.title %> </h1>

<p> <%= @movie.average_rating %> </p>


<h3>Directed by:<%= @movie.director %> </h3>

<p>Cast: <%= @movie.actors %></p>

<p> Runtime: <%= @movie.runtime %> minutes</p>

<p> Release date: <%= @movie.release %> </p>

<p> Summary: <%= @movie.summary %> </p>

<% if user_signed_in? %>
  <%= link_to "Edit", edit_movie_path(@movie) %>
<% end %>

<%= render partial: 'reviews/form' %>


<% if @reviews.any? %>
  <ul>
    <% @reviews.each do |review| %>
      <li> <%= review.body %> </li>
    <% end %>
  </ul>
<%end %>
