<%= render "layouts/errors", :object => @category %>

<div class="col-md-12 col-md">

<%= form_for @category do |f| %>
  <div class="form-group form-inline ">
    <%= f.label :name, "Name of new category:" %>
    <%= f.text_field :name, id: "THIS", class: 'form-control' %>

    <%= f.submit "Add category", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
