<h1> <%= @category.name %> </h1>
<%= link_to "Edit", edit_category_path(@category) %>


<% if @movies.any? %>
  <ul class="list-group">
    <% @movies.each do |movie| %>
      <%= link_to movie_path(movie) do %>
        <li class="list-group-item">
          <%= image_tag movie.picture.url(:thumb) if movie.picture? %>
          <%= movie.title %>
      <% end %>
      <%= link_to movie_path(movie), :method => :delete do %>
        <span class="pull-right"><i class="glyphicon glyphicon-trash"></i></span>
      <% end %>
        </li>
    <% end %>
  </ul>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Add a movie', new_category_movie_path(@category), class: 'btn btn-primary' %>
<% end %>
