<h1> <%= @category.name %> </h1>
<%= link_to "Edit", edit_category_path(@category) %>

<div class="row">
  <div class="btn-group" role="group" aria-label="...">

    <%= link_to "Highest Rated", category_path(@category, :sort => 'highest_rated'), class: 'btn btn-default' %>
    <%= link_to "Most Recent", category_path(@category, :sort => 'most_recent'), class: 'btn btn-default' %>
    <%= link_to "Most Reviewed", category_path(@category, :sort => 'most_reviewed'), class: 'btn btn-default' %>
  </div>
</div>

<% if @movies.any? %>
  <ul class="list-group">
    <% @movies.each do |movie| %>
      <%= link_to movie_path(movie) do %>
        <li class="list-group-item">
          <%= image_tag movie.picture.url(:thumb) if movie.picture? %>
          <%= movie.title %>
          <span class="label label-default"><%= movie.reviews.count %></span>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to movie_path(movie), :method => :delete do %>
          <span class="pull-right"><i class="glyphicon glyphicon-trash"></i></span>
          <% end %>
      <% end %>
        </li>
    <% end %>
  </ul>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Add a movie', new_category_movie_path(@category), class: 'btn btn-primary' %>
<% end %>
