<div id="review">

  <%= render "layouts/errors", :object => @review %>


  <%= form_for [@movie, @review], html: { class: 'form-inline' } do |f| %>
    <div class="form-group review">
      <%= f.label :rating %>
      <%= f.select(:rating, options_for_select([1, 2, 3, 4, 5])) %>
    </div>
    <div class="form-group review">
      <%= f.text_field :body, :size => 150, placeholder: 'Write your review', class: 'form-control review' %>
    </div>
    <%= f.submit "Submit review", class: 'btn btn-primary form-control review' %>
  <% end %>
</div>
